  /* general */
  * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      border: 1px solid rgba(0,0,0,.2);
  } 

  body {
      margin-top: 50px;
      font-family: 'Open Sans', sans-serif; 
  }

  .clearfix::after{
      content: "";
      display: table;
      clear: both;
  }

  .button {
      color:white;
      background-color: rgb(53, 53, 245);
      padding: 5px 15px;
      font-size: 13px;
      display: inline-block; 
  }

  a {
    text-decoration: none;
  }
  /* Nav bar */
  .right a.button {
      display: inline;
  }

  nav {
      height: 50px;
      position: fixed;
      top: 0; 
      left: 0;
      right: 0;
      width: 100%;
      line-height: 50px;
      background-color: white;
  }

  ul {
      display: inline-block;
  }

  ul li {
      display: inline-block;
  }

  li a {
      margin-right: 30px;
     
  }
  
 .left {
     display: inline-block;
 }

 .left img {
    vertical-align: middle;
     line-height: 50px;
     margin-right: 20px;
     margin-left: 10px;   
 }

 .right {
     text-align: right;
     vertical-align: middle;
     float:right;
     margin-right: 10px;
 }

/* Header */
 
header {
    background-color: rgb(124, 165, 240);
}

.jumbo-container {
    padding: 100px 100px 0 100px;
    text-align: left;
}

h1 {
    font-size: 60px;
    font-weight: 700;
}

.text {
    width: 400px;
    margin-top: 40px;
    float:left;
}
 .text p {
     margin-bottom: 20px;
     font-size: 15px;
 }

 .text .cancel {
     margin-top: 12px;
     font-size: 13px;
 }

 .jumbo-img img{
     width: 70%;
     float:right;
     margin-top: 40px;
 }


 /* Main content */

 /* Section 1 */
.container {
    width: 80%;
    margin:auto;
}

main .container h2 {
    text-align: left;
    font-size: 30px;
    margin-top: 170px;
    margin-bottom: 30px;
}

.promotion {
    width: 30%;
    float: left;
    margin-bottom: 30px;
}

.promotion.center {
    margin-right: 5%;
    margin-left: 5%;
}

.horizontal-section {
    margin-bottom: 30px;
}

.horizontal-left {
    width: 70%;
    float:left;
}
.horizontal-right {
    width: 30%;
    float: right;
}